.top-background {
  background-image: url('../images/pattern-bg.png');
  background-repeat: no-repeat;
  background-position: center right 43.5%;
  background-size: cover;
}

.inner-container {
  padding-top: 1.25rem;
  text-align: center;
}

.input-group {
  margin-top: 1.4rem;
  width: 100%;
  display: flex;
  border-radius: $b-radius;
  overflow: hidden;

  input {
    flex: 1;
    border: 0;
    padding-inline: 1.5rem;
    color: inherit;

    &::placeholder {
      font-size: var(--fs-300);
      color: $Dark-Gray;
    }
  }

  button {
    margin: 0;
    padding: 1.1rem;
    background-color: $Very-Dark-Gray;
  }
}

.container {
  margin-top: 1.4rem;
  padding: 1rem;
  border-radius: $b-radius;
  background-color: white;
}

.box {
  &_title {
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $Dark-Gray;
  }
  &_content {
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
  }
}

.map {
  background-color: burlywood;
}
