.top-background {
  background-image: url('../images/pattern-bg.png');
  background-repeat: no-repeat;
  background-position: center right 43.5%;
  background-size: cover;
}

.inner-container {
  padding-top: 1.25rem;
  text-align: center;
}

form {
  position: relative;

  .error-msg {
    position: absolute;
    width: 100%;
    bottom: -1rem;

    font-size: var(--fs-300);
    color: orange;

    &.hidden {
      display: none;
    }
  }
}

.input-group {
  margin-top: 1.25rem;
  margin-inline: auto;
  width: min(100%, 555px);
  display: flex;
  border-radius: $b-radius;
  overflow: hidden;

  input {
    flex: 1;
    border: 0;
    padding-inline: 1.5rem;
    color: inherit;

    &:focus-visible {
      outline: 1px solid blue;
    }

    &::placeholder {
      font-size: var(--fs-300);
      color: $Dark-Gray;
    }
  }

  button {
    margin: 0;
    border: 0;
    padding: 1.2rem;
    background-color: black;

    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $Very-Dark-Gray;
    }
  }
}

.container {
  margin-top: 1.4rem;
  padding: 1.25rem;
  border-radius: $b-radius;
  background-color: white;
}

.box {
  overflow-x: auto;

  &:where(:not(:first-child)) {
    margin-top: 1rem;
  }

  &_title {
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 1.5px;
    color: $Dark-Gray;
  }

  &_content {
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
    width: fit-content;
  }
}

.map {
  background-color: burlywood;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
  z-index: 2;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
