@media (min-width: 50em) {
  :root {
    --fs-200: 0.7rem;
    --fs-300: 1rem;
    --fs-500: 1.2rem;
    --fs-800: 1.75rem;
  }

  .top-background,
  .inner-container {
    height: 280px;
  }

  .container {
    margin-top: 2.25rem;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    text-align: left;
  }

  .box {
    flex-basis: 100%;
    margin-top: 0;
    padding-inline: 1.2rem;

    &:not(:first-child) {
      border-left: 1px solid $Light-Gray;
    }
  }
}

@media (min-width: 58em) {
  :root {
    --fs-500: 1.45rem;
  }

  .container {
    margin-top: 2.75rem;
  }

  .box {
    padding-inline: 1.5rem;
  }
}
