@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --fs-300: 0.85rem;
  --fs-400: 16px;
  --fs-800: 1.55rem;

  --fw-normal: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

html {
  font-size: var(--fs-400);
  font-family: 'Rubik', sans-serif;
  color: $Very-Dark-Gray;
}

h1 {
  font-size: var(--fs-800);
  font-weight: var(--fw-semi-bold);
  color: white;
}
